{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="section">
        {% for patient in patients %}
            <div class="note" onclick="setPatient('{{ patient.mrn }}');">
                <div class="note-header">
                    <span>{{ patient.mrn }}</span>
                    <span>{{ patient.name }}</span>
                    <span>{{ patient.age }}</span>
                    <span>{{ patient.gender }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
function setPatient(mrn) {
    fetch(`/set_patient/${mrn}`)
        .then(response => response.json())
        .then(data => {
            if (data.success && data.redirect) {
                window.location.href = data.redirect;
            } else {
                console.error(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
}
</script>
{% endblock %}
